@model NoiThatViet_Nhom3.Models.DonHang
@{
    ViewBag.Title = "SuaDonHang";
    Layout = "~/Areas/Admin/Views/Shared/_Layout-admin.cshtml";
}
@section Scripts {
    @*Đồng hồ*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $('#NgayLap').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true
            });
        });
    </script>
}
<h2 style="text-align:center">Sửa Đơn Hàng</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.MaDH)


        <div class="form-group">
            @Html.LabelFor(model => model.TongTien, "Tổng Tiền", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TongTien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.TongTien, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayLap, "Ngày lập hóa đơn", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.NgayLap, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.NgayLap, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DiaChiGiaoHang, "Địa chỉ giao hàng", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiaChiGiaoHang, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.DiaChiGiaoHang, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TrangThaiDH, "Trạng Thái Đơn Hàng", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TrangThaiDH, new SelectList(new List<string> { "Đã Thanh Toán", "Chưa Thanh Toán" }), "---Chọn Trạng Thái---", htmlAttributes: new { @class = "form-control" })
                <span class="text-danger">@Html.ValidationMessageFor(model => model.TrangThaiDH)</span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ThongTinDH, "Thông Tin Đơn Hàng", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ThongTinDH, new SelectList(new List<string> { "Đang Giao", "Đã Giao", "Hủy", "Đang Chuẩn Bị" }), "---Chọn Thông tin---", htmlAttributes: new { @class = "form-control" })
                <span class="text-danger">@Html.ValidationMessageFor(model => model.ThongTinDH)</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-default" />
            </div>
        </div>
    </div>
}