@model NoiThatViet_Nhom3.Models.SanPham
@{
    ViewBag.Title = "Xoa";
    Layout = "~/Areas/Admin/Views/Shared/_Layout-admin.cshtml";
}

<h2>Xóa Sản Phẩm</h2>

<div>

    <hr />
    <dl class="dl-horizontal" style="margin-left:250px">
        <dt>
            Mã Sản Phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaSanPham)
        </dd>

        <dt>
            Tên Sản Phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSanPham)
        </dd>

        <dt>
            Hình Ảnh:
        </dt>

        <dd>
            <img style="height:300px;width:300px" src="@Html.DisplayFor(model => model.HinhAnh)" alt="Alternate Text" />
        </dd>

        <dt>
            Giá:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            Kích Thước
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KichThuoc)
        </dd>

        <dt>
            Số Lượng Tồn:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>
        <dt>
            Loại Sản Phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiSP)
        </dd>
        <dt>
            Mã Phòng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaPhong)
        </dd>
        <dt>
            Mổ Tả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="text-align:center">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Quay Về", "DanhSach")
        </div>
    }
</div>


